{%extends "base.html" %} {% block content %}
<h1>About the the Shelter PAAALLLLLL</h1>

<p id="About">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque incidunt
  expedita provident, itaque enim eius similique ullam accusamus voluptas
  officia amet eos ex totam placeat? Omnis ex iusto a aspernatur.Lorem ipsum
  dolor sit amet, consectetur adipisicing elit. Atque incidunt expedita
  provident, itaque enim eius similique ullam accusamus voluptas officia amet
  eos ex totam placeat? Omnis ex iusto a aspernatur.
</p>
{% endblock content %}
